
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>¡Te estamos esperando!</title>
    <style type="text/css">
      body {background: #ffffff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; line-height:150%; color:#444; margin:0; padding:0;}
      p,li {margin-bottom:14px; margin-top:0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;color:#999999; line-height:150%;}
      td, div {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px; }
      a {color:#007FFF;text-decoration: none;font-weight: bold;display:inline-block;}
      h1 {margin-top:15px;padding:0; color:#FF6A54; font-size:30px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight: normal;}
      h2 {margin-top:0; color:#FF6A54; font-size:18px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:normal;}
      h3 {margin:0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
      .bgItem{background: #094F94;}
      .bgBody{background-color: #004080;}
    </style>
    <script type="colorScheme" class="swatch active">
      {
        "name":"Default",
        "bgBody":"004080",
        "link":"007FFF",
        "color":"303841",
        "bgItem":"094F94",
        "title":"FF6A54"
      }
    </script>
  </head>

  <body style="margin:0;">

  <!-- main container -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;"><!-- MASTER TABLE; controls the movable content container! -->
      <tr>
        <td align="center" class="movableContentContainer">

          <!-- Header: Logo; company name; website nav bar - Image + text -->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tbody>
                <tr>
                  <td align="center" colspan="7" height="20px;"></td>
                </tr>
                <tr>
                  <td valign="top" height="60" width="75">
                  </td>
                  <td width="250" valign="middle">
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable">
                        <h2 style="text-align:left;">
                          <a target='_blank' style="text-align:right; LINE-HEIGHT: 33px; text-decoration:none; font-size:30px">Yo Soy Muy Inteligente</a>
                        </h2>
                      </div>
                    </div>
                  </td>
                  <td width="20">
                  </td>
                  <td width="20"></td>
                  <td width="135" valign="middle" align="right">
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable">
                        <a target='_blank' href="#ref" style="background:#007FFF;color:#FFFFFF; padding:10px 16px;border-radius:3px;-moz-border-radius:16px;-webkit-border-radius:6px;text-decoration:none; line-height:150%;">Visitar página</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="7" height="20"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- END: Header: Logo; company name; website nav bar - Image + text -->

          <!-- Featured Image -->
          <div class="movableContent">
            <table align="center" width="600" height="300" valign="middle" cellpadding="0" style='margin:0;' cellspacing="0" border="0">
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td>
                  <div class="contentEditableContainer contentImageEditable" >
                    <div class="contentEditable">
                      <img src="images/logoysmi.png" width="600" style='margin:0; padding:0; '/>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </table>
          </div>
          <!-- END: Featured Image -->

          <!-- Reporte usuario -->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td >
                  <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                      <h3 style="text-align:left;">Hola, hace tiempo que no te vemos. Recuerda que el aprendizaje es un proceso continuo, nunca pares de aprender. 
                      </h3 >
                      <br>
                      <h3 style="text-align:left;">A continuación te recordamos la información de tu cuenta, así como los cursos a los que te encuentras inscrito.
                      </h3>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td>
                  <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                      <h2 style="text-align:center;font-size:24px;">Resumen de usuario</h2>
                      <p style="text-align:left;">Usuario: </p>
                      <p style="text-align:left;">Nombre: </p>
                      <p style="text-align:left;">Correo: </p>
                      <p style="text-align:left;">Fecha de Registro: </p>
                      <p style="text-align:left;">Tipo de usuario: </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </table>
          </div>
          <!-- END: Reporte usuario -->

          <!--Featured Teacher -->
          <div class="movableContent">
            <table align="center" width="600" valign="middle" cellpadding="0" style='margin:0;' cellspacing="0" border="0">
              <tr>
                <td valign="top">
                  <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                      <h2 style="text-align:center;font-size:24px;">Mis cursos</h2>

                      <h3 style="text-align:left;">Lectura</h3>
                      <p style="text-align:left;">Avance del 75%</p>

                      <h3 style="text-align:left;">Matemática</h3>
                      <p style="text-align:left;">Avance del 23%</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="45"></td>
              </tr>
            </table>
          </div>
          <!-- END: Featured Teacher -->


          <!-- Section Title: Schedule-->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="bgBody">
              <tr>
                <td align="center" class="bgBody">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">

                    <!-- Spacing-->
                    <tr>
                      <td colspan="5" height="45"></td>
                    </tr>
                    <!-- .Spacing-->

                    <tr>
                      <td width="180">

                        <!--h1Line-->
                        <div class="movableContent">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable">
                              <img data-default="placeholder" data-max-width="180" src="images/whiteline.png" width="180" height="30"/>
                            </div>
                          </div>
                        </div>
                        <!--.h1Line-->

                      </td>
                      <td width="30"></td>
                      <td width="180" align="center">
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable">
                            <h1 style="color:#ffffff;">Recuerda</h1>
                          </div>
                        </div>
                      </td>
                      <td width="30"></td>
                      <td width="180" height="30">

                        <!--h1Line-->
                        <div class="movableContent">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable">
                              <img data-default="placeholder" data-max-width="180" src="images/whiteline.png" width="180" height="30"/>
                            </div>
                          </div>
                        </div>
                        <!--.h1Line-->

                      </td>
                    </tr>

                    <!-- Spacing-->
                    <tr>
                      <td colspan="5" height="10"></td>
                    </tr>
                    <!-- .Spacing-->

                  </table>
                </td>
              </tr>
            </table>
          </div>
          <!-- .Section Title: Schedule-->

          <!-- Text+Link section-->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="bgBody">
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tr>
                      <td height="20"></td>
                    </tr>
                    <tr>
                      <td align="center">
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" style="margin: 0px;">
                            <p style="align:center; color:#ffffff;">“La educación formal te dará para vivir; la autoeducación te dará una fortuna” </p>
                            <p style="align:center; color:#ffffff;font-size:24px;">Jim Rohn</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!--Spacing-->
              <tr>
                <td height="45"></td>
              </tr>
              <!--.Spacing-->

            </table>
          </div>
          <!-- END: Text+Link section-->

          <!-- CONTACT US-->

          <!-- Section Title: Contact Us-->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">

                    <!-- Spacing-->
                    <tr>
                      <td colspan="5" height="45"></td>
                    </tr>
                    <!-- .Spacing-->

                    <tr>
                      <td width="180">

                        <!--h1Line-->
                        <div class="contentEditableContainer contentImageEditable">
                          <div class="contentEditable">
                            <img data-default="placeholder" data-max-width="180" src="images/line.png" width="180" height="30"/>
                          </div>
                        </div>
                        <!--.h1Line-->

                      </td>
                      <td width ="30"></td>
                      <td width="180" align="center">
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable">
                            <h2 style="font-size:24px;">Contacto</h2>
                          </div>
                        </div>
                      </td>
                      <td width="30"></td>
                      <td width="180" height="30">

                        <!--h1Line-->
                        <div class="contentEditableContainer contentImageEditable">
                          <div class="contentEditable">
                            <img data-default="placeholder" data-max-width="180" src="images/line.png" width="180" height="30"/>
                          </div>
                        </div>
                        <!--.h1Line-->

                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" height="20"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <!-- .Section Title: Contact Us-->

          <!-- Contact Us: Phone & Email -->
          <div class="movableContent">
            <table align="center" width="600" valign="middle" cellpadding="0" style='margin:0;' cellspacing="0" border="0">
              <tr>
                <td colspan="3" height="20"></td>
              </tr>
              <tr>
                <td valign="top" width="320">
                  <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                      <h2 style="text-align:left;">Soporte</h2>
                      <p style="text-align:left;">Si requieres soporte no dudes en comunicarte con nosotros por nuestros canales de comunicación:</p>
                      <ul>
                        <li>Correo: <a target='_blank' href="mailito:soporte.ysmi.com.co"> soporte@ysmi.com.co</a></li>
                        <li>Web: <a target='_blank' href="#ref">soporte.ysmi.com.co</a></li>
                        <li>Tel: 1234567</li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td width="30"></td>
              </tr>
              <tr>
                <td colspan="3" height="20"></td>
              </tr>
            </table>
          </div>
          <!-- END: Contact Us: Phone & Email -->

          <!--Footer: Social Media-->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FF6A54;">
              <tr>
                <td height="40"></td>
              </tr>
              <tr>
                <td align="center" style="background-color:#FF6A54;" height="20" padding="0">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">

                    <!-- Social Media -->
                    <tr>
                      <td align="center" valign="middle">

                        <!--Twitter-->
                        <div class="contentEditableContainer contentTwitterEditable" style="min-height: 0px;">
                          <div class="contentEditable">
                            <img src="images/WhiteTweet.png" title="Follow us on Twitter" width="20" data-customIcon="true" data-max-width='20' data-default="placeholder"/>
                          </div>
                        </div>
                        <!--.Twitter-->
                      </td>
                      <td width="30"></td>
                      <td align="center">

                        <!--Facebook-->
                          <div class="contentEditableContainer contentFacebookEditable" style="min-height: 0px;">
                            <div class="contentEditable">
                              <img src="images/Whitebook.png" title="Like us on Facebook" width="20" data-customIcon="true" data-max-width='20' data-default="placeholder"/>
                            </div>
                          </div>
                        <!--.Facebook-->

                      </td>
                      <td width="30"></td>
                      <td align="center">

                        <!--Instagram/Tumblr-->
                        <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                          <div class="contentEditable">
                            <img src="images/WhiteCam.png" title="Check out our pics" width="20"/>
                          </div>
                        </div>
                        <!--.Instagram/Tumblr-->

                      <td width="30"></td>
                      <td align="center">

                        <!--GooglePlus-->
                        <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                          <div class="contentEditable">
                            <img src="images/WhitePlus.png" title="Add us to your circles" width="20"/>
                          </div>
                        </div>
                        <!--GooglePlus-->

                      </td>
                      <td width="30"></td>
                      <td align="center">

                        <!--LinkedIn-->
                        <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                          <div class="contentEditable">
                            <img src="images/WhiteLinked.png" title="Check out our pics" width="20"/>
                          </div>
                        </div>
                        <!--.LinkedIn-->

                      <td width="30"></td>
                      <td align="center">

                        <!--YouTube-->
                        <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                          <div class="contentEditable">
                            <img src="images/WhiteTube.png" title="Watch our videos" width="20"/>
                          </div>
                        </div>
                        <!--.YouTube-->

                      </td>
                    </tr>
                    <!-- .Images section-->

                  </table>
                </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
            </table>
          </div>
          <!-- END: Footer: Social Media-->

          <!-- Footer: Email links-->
          <div class="movableContent">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FF6A54;">
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="center" style="background-color:#FF6A54;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tr>
                      <td width="180" align="center">
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable">
                            <p>
                              <a target='_blank' href="[UNSUBSCRIBE]" style="font-size: 12px; text-align:center; color:#ffffff">
                                Unsubscribe</a>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width="30"></td>
                      <td width="180" align="center">
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable">
                            <p>
                              <a target='_blank' href="[SHOWEMAIL]" style="font-size: 12px; text-align:center; color:#ffffff">View in Browser</a>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width="30"></td>
                      <td width="180" align="center">
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable">
                            <p>
                              <a target='_blank' href="[FORWARD]" style="font-size: 12px; text-align:center; color:#ffffff">
                                Forward to a friend</a>
                            </p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </table>
          </div>
          <!-- END: Footer: Email links-->

        </td>
      </tr>
    </table>
    <!--Closing Main Container-->
  </body>
</html>
